@import "/src/Utilities/Varibles.scss";

.link-parent {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: $green;
 
   text-align: center;
   text-decoration: none;
   width: 50%;
 
   margin-top: 4%;
   margin-bottom: 4%;
 
   border: 1px solid $green;
   padding: 2% 4%;
   font-size: 1.4vw;
   
   transition: 0.35s;

   &:hover {
     transform: scale(1.025);
     color: $greenhv;
     border: 2px solid $greenhv;
   }
 
   div {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
   }
 
   font-weight: bold;
   font-family: $font-titles;
 
   p {
     margin: 0;
   }
 }
 
 .borde{
   border: 0.5px solid $green;
 }